@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

body,
html {
	font-family: 'Archivo Narrow', Arial, Helvetica, Sans-Serif !important;
}

h2.pageheader {
	font-size: 4em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: .5em;
}

.input-field input[type=text] {
	border-bottom: 1px dotted #777;
	box-shadow: 0;
	font-size: 1.25em;
}

.add-item {
	padding: 1em;
	line-height: .45em;
}

@media only screen and (min-width : 993px) {
    #toast-container {
    	min-width: 8%;
    	top: 2.75%;
    	right: 7%; 
    } 
}

.shopping-list {
	display: table;
	border-collapse: collapse;
}

.shopping-list li {
	display: table-row;
	padding: 0 !important;
	margin: 0 !important;
}

.shopping-list li + li {
	border-top: 1px dotted #DDD;
}

.shopping-list li p {
	padding: .75em 0;
	margin: 0;
}

.item-btns a {
	margin: 0 .25em;
}

.done {
	color: #CCC;
	text-decoration: line-through;
}

@media only screen and (max-width: 992px){
	.container,
	section {
		width: 100%;
		padding: 0;
		overflow: hidden;
	}	
	h2.pageheader {
		font-size: 4em;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1em;
	}

	.input-field input[type=text] {
	     border-bottom: 1px dotted #777;
	     box-shadow: 0;
	     font-size: 1.25em;
   	}

	.add-item {
		padding: 1.15em;
		line-height: .5em;
	}
}

@media only screen and (max-width: 600px){
	.container,
	section {
		width: 100%;
		padding: 0;
		overflow: hidden;
	}

	h2.pageheader {
		font-size: 4em;
		font-weight: 700;
		text-transform: uppercase;
		line-height: .25em;
	}

	.input-field input[type=text] {
	     border-bottom: 1px dotted #777;
	     box-shadow: 0;
	     font-size: 1.25em;
   	}

	.add-item {
		padding: 1.15em;
		line-height: .5em;
	}	
}